body {
	min-width: 320px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   margin-left:-15px;
   margin-right:-15px;
}

.navbar li { color: #000 }

.first-unit {
	height: 100vh;
}

.add-form {
	display: table;
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
}

.add-form-content {
	display: table-cell;
	vertical-align: middle;
}

.service-column {
	padding-top: 60px;
}

.service-img {
	max-width: 100%;
	height: auto;
}

.service-description {
	height: 150px;
	padding-top: 40px;
}

.list-none-style {
	list-style-type: none;
	padding-left: 0px;
}


