/*html { 
  background: url(../img/first_unit_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
body {
	min-width: 320px;
}

#back-ground-image {
	background: url(../img/first_unit_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;

}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   margin-left:-15px;
   margin-right:-15px;
}

.navbar li { color: #000 }

.first-unit {
	height: 100vh;
}

.add-form {
	display: table;
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
}

.add-form-content {
	display: table-cell;
	vertical-align: middle;
}

.service-column {
	padding-top: 60px;
}

.service-img {
	max-width: 100%;
	height: auto;
}

.service-description {
	height: 150px;
	padding-top: 40px;
}

.list-none-style {
	list-style-type: none;
	padding-left: 0px;
}

.footer {
	padding-top: 40px;
}

.my-label {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contacts {
	text-align: right;
}




